/* Color Palette */
:root {
	--background-color: #f1f1f1;
	--border-color: #d5d5d5;

	--header-color: #000000;
	--text-color: #000000;
	--link-color: #510086;


	--background-color-dark: #171717;
	--border-color-dark: #000;

	--header-color-dark: #d4d4d4;
	--text-color-dark: #d2d2d2;
	--link-color-dark: #b685d6;
}

body {
	/* background-image: url("images/background.jpg"); */
    height: 120%;
    overflow: visible;
}

[data-theme=dark] body {
	background-image: url("images/background_dark.jpg");
}

.main-column {
	width: 100%;
	max-width: 800px;

	margin-top: 100px;
	margin-right: auto;
	margin-left: auto;

	border: 0px;
	border-spacing: 0px;
	border-collapse: separate;
}

.bgblock {
	background-color: var(--background-color);

	border: 5px solid var(--border-color);
	border-radius: 10px;
	margin-top: 10px;
	margin-bottom: 10px;
}

[data-theme=dark] .bgblock {
	background-color: var(--background-color-dark);

	border: 5px solid var(--border-color-dark);
	border-radius: 10px;
	margin-top: 10px;
	margin-bottom: 10px;
}

.tblock {
	width: 100%;

	border-spacing: 0px;
	border-collapse: separate;
	margin-right: auto;
	margin-left: auto;
}


/*=======================*/
/* Text & Image Settings */
/*=======================*/
a:link,
a:visited,
a:hover {
	color: var(--link-color);
}

[data-theme=dark] a:link,
[data-theme=dark] a:visited,
[data-theme=dark] a:hover {
	color: var(--link-color-dark);
}

p {
	color: var(--text-color);
	font-family: 'Ubuntu', monospace;
}

[data-theme=dark] p {
	color: var(--text-color-dark);
}

strong {
	font-weight: 700;
	font-family: 'Ubuntu', sans-serif;
}

td strong {
	color: #1a1a1a;
}

[data-theme=dark] td strong {
	color: #ffffff;
}

h1,
h2,
h3,
h4,
h5 {
	margin-top: 0px;
	color: var(--header-color);
	font-family: 'Ubuntu', monospace;
}

[data-theme=dark] h1,
[data-theme=dark] h2,
[data-theme=dark] h3,
[data-theme=dark] h4,
[data-theme=dark] h5 {
	margin-top: 0px;
	color: var(--header-color-dark);
	font-family: 'Ubuntu', monospace;
}


img {
	width: 100%;
}

.light-theme-only {
	display: block;
}

[data-theme=dark] .light-theme-only {
	display: none;
}

.theme-light .dark-theme-only {
	display: none;
}

[data-theme=dark] .dark-theme-only {
	display: block;
}
